/* favorites-product-list.component.scss */
$xs: 375px;
$sm: 640px;
$md: 768px;
$xl: 1280px;

.favorites-product-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: $xs) {
  .favorites-product-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: $sm) {
  .favorites-product-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: $md) {
  .favorites-product-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (min-width: $xl) {
  .favorites-product-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}


